.task__main{
    margin-left: 14rem;

}

.task_left_head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.task__head{
    display: flex;
    justify-content: space-between;
    margin-right:4rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.task_right_head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.task_left_view, .task_right_view{
    font-size: 18px;
}


.task_right_btn,
.task_left_btn{
    background-color: var(--color-orange);
    color:white;
    /* background-color: #FF6C22; */
    width: 8.5rem;
    height: 2.3rem;
    margin-left: 2rem;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

/* .task_qty_section{
    display: flex;
    
    align-items: center;
    margin: 2rem;

}



.task__qty{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__qty > * {
    margin-right: 1rem; 
  } */

  .task_qty_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

/* Base styles for the task quantity container */
.task__qty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Ensure each child element has some margin */
.task__qty > * {
    margin-right: 1rem; 
    margin-bottom: 1rem;
}

.task_dropdown{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task_dropdown select{
    width: 5rem;
}

.update_dropdown{
    margin-left: 10px;
}

.task_qty_input{
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    width: 5rem;
    padding-left: 10px;
    height: 2rem;
}


.task_station_input{
    border: 2px solid var(--color-orange);
    border-radius: 8px;
    padding-left: 10px;
    width: 4rem;
    height:1.6rem;
    margin-right: 10px;
}


.task_qty_btn{
    background-color: var(--color-orange);
    color: white;
    width: max-content;
    padding: 20px;
    height: 2.3rem;
    margin-left: 2rem;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.task_assign_btn{
    background-color: var(--color-orange);
    color: white;
    width: max-content;
    padding: 20px;
    height: 2.3rem;
    margin-left: 2rem;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.task_assign_btn:active{
    background-color: rgb(227, 148, 3);
}

.task_qty_btn:active{
    background-color: rgb(227, 148, 3);
}

.task_stations{
background-color: var(--color-grey);
border-radius: 10px;
 display: flex;
 width: max-content;
 height: max-content;
 margin: 1.5rem;
}

.task_stations_left{
padding: 20px;
}

.task_stations_right{
padding: 20px;
}

.task_stations_container{
    display: flex;
    flex-wrap: wrap;
}

.task_dropdown select{
    border-radius: 10px;
    border: 2px solid #ECECEC;
    color:#4f4d4d;
}

.task_dropdown{
    padding: 6px;
    margin-top: 8%;
}

.task_stations_part{
    padding: 7px;
}


.task_buttons {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    margin: 1rem;
    /* margin-right: 2rem; */
  }

  ::-webkit-scrollbar {
    display: none;
}

.arrow_btn{
    margin-top: 2rem;
}

.task_buttons button{
    flex: 0 0 7rem;
    height: 3rem;
    background-color: var(--color-blue);
    color: white;
    margin-right: 1rem;
    border: none;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.task_buttons button:active{
    background-color: var(--color-skin);
    border: none;
}

.task_buttons button.act{
    background-color: var(--color-skin);
    border: none;
    color: black;
    font-weight: bold;
}


.employee-name {
    /* width: 6rem;  */
    word-wrap: break-word; /* Allow the text to wrap */
  }

.task_loading{
    margin-top: 8rem;
    margin-left: 20rem;
}

/* TaskNew.css */

.previous_task{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.previous_task_date{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.previous_task p{
    margin-right: 1rem;
}

.date_picker{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
}
  
  .previous_task_date input[type="time"] {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  
  .task-running{
    color: var(--color-blue);
    font-weight: 800;
  }

.task_id{
    height: 2rem;
    width: 4rem;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.task_btnss{
    display: flex;
}

.task_whole_part{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.task_whole_part select{
    margin-left: 1rem;
}

.global_input{
    margin-left: 2rem;
    border: 2px solid grey;
    border-radius: 8px;
    padding-left: 10px;
}

.global_task_qty{
    display: flex;
}

.input_checkbox{
    height: 1.3rem;
    width: 1.3rem;
}

/* Media query for tablets (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .date_picker{
        width: 6rem;
    }
    .task_btnss{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px){
    .global_task_qty{
        display: flex;
        width: max-content;
        margin-top: 1rem;
    }
    .task_whole_part{
        display: flex;
    }
    .global_task{
        display: flex;
        flex-wrap: wrap;
    }
    .task_dropdown select{
        width: 1.5rem;
    }
    .taskfixed_dropdown select {
        width:4rem;
    }
}


/* Media query for laptops (1025px and above) */
@media screen and (min-width: 1025px) {
    .task_qty_section {
        flex-direction: row;
        justify-content: space-between;
    }
    .task__qty {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .task__qty > * {
        margin-right: 1rem;
        margin-bottom: 0;
    }
    .task_btnss {
        display: flex;
        justify-content: flex-start;
    }
    .global_task{
       display: flex; 
        flex-direction: row;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner controls for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}




/* add fixed task data */
.main_taskfixeddata{
    margin-left: 16rem;
}
.taskfixed_head{
    margin-top: 2rem;
}
.taskfixed_data_table {
    width: 96%;
    margin-top: 20px;
    border: 1px solid var(--color-grey);
  }
  
  .taskfixed_table_header{
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    background-color: var(--color-grey);
  }

  .taskfixed_table_header, .taskfixed_row {
    display: flex;
    padding: 10px;
  }
  
  .taskfixed_table_header div, .taskfixed_row div{
    flex: 1;
    padding: 5px 10px;
    margin: 0 5px;
    text-align: left;
  }
  

  
  .taskfixed_row:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
 .taskfixed_inp{
    width: 3rem;
    border:2px solid rgb(190, 186, 186);
    border-radius: 3px;
    padding: 1px 5px;
 }
  
 .taskfixed_check{
    width: 2rem;
    height: 1rem;
 }

 .taskfixed_shifts{
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }


.taskfixed_dropdown select {
    width:6rem;
    height: 1.7rem;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #4f4d4d;
    color:rgb(48, 47, 47);
}