.parts_container{
    margin-left: 16rem;
}

.parts_heading p{
    margin-top: 2rem;
    font-size: 18px;
}

.parts_details{
    margin-top: 2rem;
}

.parts_details p{
    padding: 15px;
}

.parts_err{
    margin:20px;
}

.parts_details input{
    border: 2px solid var(--color-orange);
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    margin-left: 2rem;
    padding-left: 10px;
}

.parts_add{
    background-color: var(--color-orange);
    width: 8rem;
    height: 2.3rem;
    margin-left: 22%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 2%;
}

.parts_add button{
    border:none;
    background-color: var(--color-orange);
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding: 5px;
    font-family: var(--font-family);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2.3rem;
}

.parts_add button:active{
  background-color: var(--color-skin);
  color: var(--color-orange);
}

/* .parts_popup{
    position: fixed;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
    border:2px solid black;
} */


.parts_popup{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.parts_popup_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .success_parts_popup{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.success_parts_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .err_parts_popup{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.err_parts_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }