body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  overflow-x: hidden;
  font-family: var(--font-family);
}

:root{
  --color-orange:#FF6C22;
  --color-skin:#FFD099;
  --color-red:#F62828;
  --color-green:#50BA4E;
  --color-blue:#2B3499;
  --color-grey:#ECECEC;
   --font-family: 'Poppins', sans-serif !important;
   
   --color-lightpink:#a86181;
   --color-lightgreen:#78EC75;
   --color-lightred:#FF4141;
   --color-lightblue:#6C76E4;
   --color-cayon:#91F2F8;
   --color-lightyellow:#FFFB99;
   --color-lightgrey: rgb(224, 217, 217);
   --color-softgrey:rgba(236, 236, 236, 1);
   --color-lightestgrey:rgba(250, 250, 250, 1)


}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
